body {

}

#main_area{
    background-color:#b5dedd;
    margin: 0 auto;
}

#bottom-close-button{
    padding: 10px;
}

.centre_area{

}

.profile-dialog{
    background-color:#b5dedd;
}

.contentWindow{
    margin-left: auto;
    margin-right: auto;
}

.nav_btn{

}

h1.profile-dialog{
    text-align: left;
}

.footer_div{
    position: fixed; 
    bottom: 0;
}
