body {

}

#main_area{
    background-color:#b5dedd;
}

.profile-dialog{
    background-color:#b5dedd;
}

.contentWindow{
    margin-left: auto;
    margin-right: auto;
}

.nav_btn{

}

h1.profile-dialog{
    text-align: left;
}

.footer_div{
    position: fixed; 
    bottom: 0;
}
